<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="topbar">
     <span>Logo</span>
     <input type="text" placeholder="buscar..."> 
    </div>
  </header>
  <div class="sidebar">
    <nav>
      <ul>
        <li>Home</li>
        <li>About us</li>
      </ul>
    </nav>
    <section>
      {{{ body }}}
    </section>
  </div>
</body>
</html>